
main {
  display: grid;
  grid-template-columns: 50% 47%;
  grid-gap: 3%;

}
.introduction {
  grid-column-start: 1;
  grid-column-end : span 2;
  justify-self: center;
  text-align: center;
  width: 60%;
}
.mainScreenPic{
  grid-column-start: 1; 
  text-align: center;
}
aside{
  grid-column-start: 2 ; 
  place-content: center;
}
#mainScreenBB {
  width: 80%;
  height: 90%;
}