body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3%;
    justify-content: space-evenly;
    align-content: space-between;  
  }
  li, a, button
  {
      text-decoration: none;
  }
  header
  {
    grid-column-start: 1; 
  }
.mainContent
  {
    grid-column-start: 1; 
  }  footer
  {
    grid-column-start: 1;
    text-align: center;
    padding: 10px 0px;
  }
  #favicon
  {
   background-color: #ff9300;
  }