
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

header
{
	background-color: #ff9300;
	display: flex;
	justify-content: space-between;
	align-items: center ;
	padding: 2px 10% ;
	border-radius: 50px;
}

ul#menu li {
	display: inline;
	padding-right: 1em;
	padding-left: 1em;
}

ul#menu a {
	text-decoration: none;
}

#menu li a:hover {
	background: #007e7e;
	transition: all 0.3s ease 0s;
	padding: .5em 2em .5em 2em;
	color: white;
	border-radius: 5px;
}

#menu li.active a {
	background: #007e7e;
	padding: .5em 2em .5em 2em;
	color: white;
	border-radius: 5px;
}

li, a, button {
	font-family: "montserrat", sans-serif;
	font-weight: 600;
	font-size: 14px;	
	color: #000;
	text-decoration: none;
}

#logo
{
	width: 90px ;
	height: 90px;
}

.normal {
	background-color: #000;
	color: #ff9300;
	border: none;
	padding: 10px 25px;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: #4a4a49e8;
}

.btactive {
	background: #007e7e;
	padding: .5em 2em .5em 2em;
	color: white;
	border-radius: 50px;
}
