---
layout: mainLayout.njk
---
<main>
    <h1></h1>
    <p>Top 10 players of all time:</p>
    <ol start="4">
        <li>Roger - Level 11 - 465 Points</li>
        <li>Maria - Level 10 - 433 Points</li>
        <li>Siobhan - Level 10 - 421 Points</li>
        <li>Clare - Level 9 - 390 Points</li>
        <li>Bruno - Level 9 - 373 Points</li>
        <li>Rafael - Level 9 - 370 Points</li>
        <li>Michele - Level 8 - 351 Points</li>
    </ol>
</main>
<aside>
  
</aside>