---
layout: mainLayout.njk
eleventyNavigation:
  key: home
  order: 1
---
<!-- Link to CSS -->
<link rel="stylesheet" href="/css/index.css" />

<!-- This is the homepage -->
<main>
  <div class="introduction"> 
    <h1>Welcome to the World of Bounce!</h1>
    <p> Get ready to dive into a thrilling journey of precision, timing, and endless fun with our brand-new Bouncing Ball game! Designed for gamers of all ages, this addictive game challenges your reflexes and keeps you on the edge of your seat as you guide the ball through dynamic obstacles and achieve high scores. Whether you're here for a quick break or aiming to master every level, the excitement never stops bouncing!</p>
    <p>Start playing now and let the adventure begin!</p>
  </div> 
  <div Class="mainScreenPic">   
    <img id="mainScreenBB" src="/images/mainScreenBB.gif" alt="mainScreenBB">
    <figcaption>Fig.1 - Bouncing Ball Main Screen.</figcaption>
  </div>  
  <aside>
    <h2>Learn how to Play</h2>
    <p><a href="/instructions" >Click here</a> to read the instructions.</p>

    <h2>Download Bouncing Ball</h2>
    <p><a href="https://github.com/villaca13/BouncingBall" target="_blank">Click here</a> to download the bouncing ball game.</p>

    <h2>Download Processing</h2>
    <p><a href="https://processing.org/download" target="_blank">Click here</a> to download Processing. You will need this to run Bouncing Ball.</p>

  </aside>
</main>