---
layout: mainLayout.njk
---
<main>
    <h1>Instructions</h1>
    <p>Here are the instructions for the game:</p>
    <section>  
        <div id="start" class="Instructions-items">
            <h2>Start</h2>
            <p>Click on the "Start" button and insert your name to start the game.</p>
            <img src="/images/click-start.gif" alt="Start button">
        </div>
        <div id="paddle" class="Instructions-items">
            <h2>Paddle Moviment</h2>
            <p>Move mouse horizontally to move the paddle.</p>
            <img src="/images/paddle-moviment.gif" alt="Paddle Moviment">
        </div>
        <div id="ball-right" class="Instructions-items">
            <h2>Ball Moviment</h2>
            <p>the Ball moves to the RIGHT if hit by the LEFT portion of the paddle.</p>
            <img src="/images/hit-up-to-the-rigth.gif" alt="Ball Moviment to the right">
        </div>
        <div id="ball-left" class="Instructions-items">
            <h2>Ball Moviment</h2>
            <p>the Ball moves to the LEFT if hit by the LEFT portion of the paddle.</p>
            <img src="/images/hit-up-to-the-left.gif" alt="Ball Moviment to the left">
        </div>
        <div id="level-selction" class="Instructions-items">
            <h2>Level Selection </h2>
            <p>A diffetent level can be selected by clicking on Level button.</p>
            <img src="/images/select-level.gif" alt="Level Selection">
        </div>
        <div id="restart" class="Instructions-items">
            <h2>Restart </h2>
            <p> Click on Restart button to restart the game on default level and keep playing.</p>
            <img src="/images/restart.gif" alt="Level Selection">
        </div>
    </section>
</main>
<aside>
  
</aside>