---
layout: mainLayout.njk
eleventyNavigation:
  key: Pricing
  order: 6
---

<!-- Link to CSS -->
<link rel="stylesheet" href="/css/pricing.css" />

<main>
    <section class="pricing-plan">
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title">Standard Plan</h1>
            <h2 class="pricing-plan__summary">Start your 14-day free trial</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Limited features</li>
                <li class="pricing-plan__feature">Access through one device</li>
                <li class="pricing-plan__feature">6 months commitment plan</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">€7.99</p>
            <p class="pricing-plan__text">per month</p>
            <a class="pricing-plan__button">Sign Up</a>
            <p class="pricing-plan__text">First 14 days are free. Card will be charged after free trial.</p>

    </section>
    <section class="pricing-plan pricing-plan--highlighted">
        <div class="pricing-plan__special-text">Recommended</div>
        
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title">Premium Plan</h1>
            <h2 class="pricing-plan__summary">Start your 14-day free trial</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Unlimited access to all features</li>
                <li class="pricing-plan__feature">Premium support 24hrs </li>
                <li class="pricing-plan__feature">No commitment, cancel anytime</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">€13.99</p>
            <p class="pricing-plan__text">per month</p>
            <a class="pricing-plan__button">Sign Up</a>
            <p class="pricing-plan__text">First 14 days are free. Card will be charged after free trial.</p>

    </section>
    <section class="pricing-plan">
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title">Family Plan</h1>
            <h2 class="pricing-plan__summary">Start your 14-day free trial</h2>
        </div>
        <div class="pricing-plan__description">
            <ul class="pricing-plan__list">
                <li class="pricing-plan__feature">Unlimited access to all content</li>
                <li class="pricing-plan__feature">Access to Premium features</li>
                <li class="pricing-plan__feature">Sign up to 5 people</li>
                <li class="pricing-plan__feature">No commitment, cancel anytime</li>
            </ul>
        </div>
        <div class="pricing-plan__actions">
            <p class="pricing-plan__cost">€24.99</p>
            <p class="pricing-plan__text">per month</p>
            <a class="pricing-plan__button">Sign Up</a>
            <p class="pricing-plan__text">First 14 days are free. Card will be charged after free trial.</p>
    </section>
                    
</main>
<aside>
  
</aside>