---
layout: mainLayout.njk
---
<!-- Link to CSS -->
<link rel="stylesheet" href="/css/ranking.css" />


<main>
    <h1>Ranking</h1>
    <table>
      <h2>Top 3 players of all time:</h2>
      <tr>
        <th>Position</th>
        <th>Picture</th>
        <th>Name</th>
        <th>Country</th>
        <th>Level</th>
        <th>Score</th>
      </tr>
      <tr>
        <td>1</td>
        <td><img class="avatar" src="/images/Person1.jpg" alt="My Picture"></td>
        <td>Tiago</td>
        <td>Brazil</td>
        <td>12</td>
        <td>650</td>
      </tr>
      <tr>
        <td>2</td>
        <td><img class="avatar" src="/images/Person2.jpg" alt="My Picture"></td>
        <td>Brener</td>
        <td>Brazil</td>
        <td>11</td>
        <td>500</td>
      </tr>
      <tr>
        <td>3</td>
        <td><img class="avatar" src="/images/Person3.jpg" alt="My Picture"></td>
        <td>Niall</td>
        <td>Ireland</td>
        <td>11</td>
        <td>472</td>
      </tr>
</table>
<aside>
    <h2>Top 10 players of all time:</h2>
    <ol start="4">
        <li>Roger - Level 11 - 465 Points</li>
        <li>Maria - Level 10 - 433 Points</li>
        <li>Siobhan - Level 10 - 421 Points</li>
        <li>Clare - Level 9 - 390 Points</li>
        <li>Bruno - Level 9 - 373 Points</li>
        <li>Rafael - Level 9 - 370 Points</li>
        <li>Michele - Level 8 - 351 Points</li>
    </ol>
</aside>
</main>
