<header>
    <a href="#"> <img id="logo" src="/images/logo.png" alt="Company Logo"></a>
    <nav>
        <ul class="nav-list">
            <li><a href="/index"><i class="material-symbols-outlined">home</i></a></li>
            <li><a href="/aboutMe">About</a></li>
            <li><a href="/instructions">Instructions</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/records">Records</a></li>
            <li><a href="/improvements">Improvements</a></li>
        </ul>
    </nav>
    <a href="/contact"><button>Contact</button></a>
</header>