<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Bouncing Ball</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="/css/mainLayout.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <!-- Home icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" />
    <!-- favicon -->
    <link id="favicon" rel="icon" href="/images/faviconBB.png" type="image/png">
  </head>
  <body>
    {% include "header.njk" %}
    <div class="mainContent">
      {{ content | safe }}
    </div>
    {% include "footer.njk" %}
  </body>
</html>
